*{
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(0px, auto) 1fr;
    grid-template-rows: 3rem 1fr 5rem;
    grid-template-areas: 
        's h'
        's m'
        's f';
    width: 100vw;
    height: 100vh;
}
header {
    grid-area: h;
    background-color: #f2e9de;
    position: sticky;
}


.light {
    background-color: #f2e9de;
    color: #575279;
}
.dark {
    background-color: #6e6a86;
    color: #f2e9de;
}
.slight {
    background-color: #faf3ed;
    color: #575279;
}
.sdark {
    background-color: #817c9c;
    color: #f2e9de;
}
.mlight {
    background-color: #fffaf3;
    color: #575279;
}
.mdark {
    background-color: #907aa9;
    color: #f2e9de;
}
.tlight {
    background-color: #f2e9de;
    color: #575279;
}
.tdark {
    background-color: #6e6a86;
    color: #f2e9de;
}


nav {
    display : flex;
    justify-content: flex-end;
    align-items: center;
}

.headerlist {
    display: flex;
    list-style: none;
}

.hlitem {
    padding-right: 3rem;
}

textarea {
    visibility: hidden;
}

.save {
    visibility: hidden;
}

.delete {
    visibility: hidden;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 900px;
}

.slideout {
    padding : 1rem;
    margin: 2rem;
    width: 1rem;
}

.newbutton {
    align-self: center;
    padding: 1rem;
    margin: 2rem;
    display: block;
}

footer {
    grid-area: f;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    grid-area: s;
    height: 980px;
    padding-left: 3rem;
    padding-right: 1rem;
}

.slidein {
    padding : 1rem;
    margin: 2rem;
    width: 1rem;
}

.notelist {
    list-style: none;
    padding : 1rem;
}

.listitem {
    padding : 1rem;
}

.middle {
    grid-area: m;
}

.newnote {
    display : flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 2rem;
}

button {

    border-radius: 5px;
    font-size: 1rem;
}

.notebuttons {
    padding-left: 6rem;
    display : flex;
    justify-content: flex-end;
}



@media screen  and (max-width: 499px) {

    .container{
        display: grid;
        width: 500px;
        grid-template-rows: 4rem auto 1fr 4rem;
        grid-template-areas:
        'h'
        's'
        'm'
        'f';
    }

    .sidebar{
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-left: 2rem;
        }

    .notelist{
        padding: 0rem;
    }

    .listitem{
        padding: 0rem;
    }
    .box {
        height: 400px;
    }
}