*{
    color: #575279;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(0px, auto) 1fr;
    grid-template-rows: 3rem 1fr 5rem;
    grid-template-areas: 
        's h'
        's m'
        's f';
    width: 100vw;
    height: 100vh;
}
header {
    grid-area: h;
    background-color: #f2e9de;
    position: sticky;
}

nav {
    display : flex;
    justify-content: flex-end;
    align-items: center;
}

.headerlist {
    display: flex;
    list-style: none;
}

.hlitem {
    padding-right: 3rem;
    color: #334259;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 900px;
}

.slideout {
    padding : 1rem;
    margin: 2rem;
    background-color: #f2e9de;
    width: 1rem;
}

.newbutton {
    align-self: center;
    background-color: #f2e9de;
    padding: 1rem;
    margin: 2rem;
}

footer {
    grid-area: f;
    height: 2rem;
    background-color: #f2e9de;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    grid-area: s;
    height: 980px;
    background-color: #faf3ed;
    padding-left: 3rem;
    padding-right: 1rem;
}

.slidein {
    padding : 1rem;
    margin: 2rem;
    background-color: #f2e9de;
    width: 1rem;
}

.notelist {
    list-style: none;
    padding : 1rem;
}

.listitem {
    padding : 1rem;
}

.middle {
    grid-area: m;
    background-color: #fffaf3;
}

.newnote {
    display : flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 2rem;
}

.button {
    background-color: #286983;
    color: #575279;
    border-radius: 5px;
    font-size: 2rem;
    margin-top: 5px;
    margin-left: 10px;
}
textarea {
    background-color: #f2e9de;
}

.notebuttons {
    padding-left: 6rem;
    display : flex;
    justify-content: flex-end;
}

.save {
    color: #575279;
}

.delete {
    color: #575279;
}

@media screen  and (max-width: 499px) {

    .container{
        display: grid;
        width: 500px;
        grid-template-rows: 4rem auto 1fr 4rem;
        grid-template-areas:
        'h'
        's'
        'm'
        'f';
    }

    .sidebar{
        height: 7rem;
        display: flex;
        flex-direction: row;
    }

    .listitem{
        padding: 0rem;
    }
    .box {
        height: 400px;
    }
}