*{
    color: #575279;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    height: 3rem;
    background-color: #f2e9de;
    top: 0;
    position: sticky;
}

nav {
    display : flex;
    justify-content: flex-end;
    align-items: center;
}

.headerlist {
    display: flex;
    list-style: none;
}

.hlitem {
    padding-right: 1rem;
    color: #334259;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #fffaf3;
    align-items: flex-start;
    justify-content: flex-start;
    height: 900px;
}

.slideout {
    padding : 1rem;
    margin: 2rem;
    background-color: #f2e9de;
    width: 1rem;
}

.newbutton {
    align-self: center;
    background-color: #f2e9de;
    padding: 1rem;
    margin: 2rem;
}

footer {
    height: 2rem;
    background-color: #f2e9de;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowbox {
    display: flex;
    flex-direction: row;
    background-color: #fffaf3;
    align-items: flex-start;
    justify-content: flex-start;
    height: 900px;
}

.sidebar {
    height: 980px;
    background-color: #faf3ed;
    padding-left: 5rem;
    padding-right: 1rem;
}

.slidein {
    padding : 1rem;
    margin: 2rem;
    background-color: #f2e9de;
    width: 1rem;
}

.notelist {
    list-style: none;
    padding : 1rem;
}

.listitem {
    padding : 1rem;
}

.grid {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 10rem 2rem;
    gap: 5px;
    width: 1700px;
}

.newnote {
    align-self: center;
    background-color: #f2e9de;
    padding: 1rem;
    margin: 2rem;
}