*{
    color: #575279;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    height: 3rem;
    background-color: #f2e9de;
    top: 0;
    position: sticky;
}

nav {
    display : flex;
    justify-content: flex-end;
    align-items: center;
}

.headerlist {
    display: flex;
    list-style: none;
}

.hlitem {
    padding-right: 1rem;
    color: #334259;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #fffaf3;
    align-items: flex-start;
    justify-content: flex-start;
    height: 920px;
}

.slideout {
    padding : 1rem;
    margin: 2rem;
    background-color: #f2e9de;
    width: 1rem;
}

.newbutton {
    align-self: center;
    background-color: #f2e9de;
    padding: 1rem;
    margin: 2rem;
}